.project {
    display: flex;
    flex-direction: column;
    padding: 110px 70px;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    color: #ffffff;
}

.project__title {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 23px;
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.88px;
    align-self: flex-start;
    width: 100%;
}

.project__contanier {
    display: flex;
    justify-content: space-between;
}

.project__part {
    max-width: 550px;
}

.project__subtitle {
    margin: 70px 0 0 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.projects__text {
    margin: 26px 0 110px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.project__progress {
    display: grid;
    grid-template-columns: 1fr 4fr;
    list-style: none;
    row-gap: 14px;
    padding: 0;
    width: 100%;
    margin: 0;
}

.project__timing {
    width: 228px;
    margin: 0;
    padding: 9px 0;
    color: #000000;
    text-align: center;
    background-color: rgba(43, 224, 128, 1);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.project__timing-colored {
    margin: 0;
    padding: 9px 0;
    text-align: center;
    background-color: rgba(48, 48, 48, 1);
    width: 100%;
    color: #ffffff; 
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.project__text {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #8B8B8B;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .project {
        padding: 90px 50px;
        width: 100%;
    }

    .projects__text {
        margin: 22px 0 93px 0;
        font-size: 12px;
        line-height: 18px;
    }

    .project__part {
        max-width: 319px;
    }

    .project__timing {

        max-width: 140px;
    }

}

@media screen and (max-width: 550px) {
    .project {
        padding: 70px 18px 69px 18px;
    }

    .project__title {
        width: 292px;
        padding: 0 0 28px 0;
        font-size: 18px;
        line-height: 22px;
    }

    .project__contanier {
        display: block;
    }

    .project__subtitle {
        margin: 60px 0 0 0;
        font-size: 18px;
        line-height: 22px;
    }

    .projects__text {
        margin: 16px 0 56px 0;
        font-size: 11px;
        line-height: 16px;
    }

    .project__timing {
        padding: 11px 0;
        max-width: 100px;
        font-size: 11px;
        line-height: 13px;
    }

    .project__timing-colored {
        padding: 11px 0;
        font-size: 11px;
        line-height: 13px;
    }

    .project__text {
        font-size: 11px;
        line-height: 13px;
    }


}